[submodule "libopencm3"]
	path = third_party/libopencm3/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "FreeRTOS-Kernel"]
	path = third_party/freeRTOS/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "wasm-micro-runtime"]
	path = third_party/wasm-micro-runtime/wasm-micro-runtime
	url = git@github.com:wallento/wasm-micro-runtime.git
